@model VM_CreateUpdateClientes;

<form id="formCliente">
    @Html.HiddenFor(m => m.Cliente.ClientePk)

    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Nombre</label>
            @Html.TextBoxFor(m => m.Cliente.Nombre, new { @class = "form-control", required = "required" })
        </div>
        <div class="col-md-6 mb-3">
            <label>Documento Identidad</label>
            @Html.TextBoxFor(m => m.Cliente.DocIdentidad, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Teléfono</label>
            @Html.TextBoxFor(m => m.Cliente.Telefono, new { @class = "form-control", data_inputmask = "'mask': '999 999 999'" })
        </div>
        <div class="col-md-6 mb-3">
            <label>Móvil</label>
            @Html.TextBoxFor(m => m.Cliente.Movil, new { @class = "form-control", data_inputmask = "'mask': '999 999 999'" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Correo</label>
            @Html.TextBoxFor(m => m.Cliente.Correo, new { @class = "form-control", type = "email" })
        </div>

        <div class="col-md-6 mb-3">
            <label>Numero de Cuenta</label>
            @Html.TextBoxFor(m => m.Cliente.Ncuenta, new { @class = "form-control" })
        </div>
    </div>

    @* Dirección *@
    <div class="row">
        <div class="col-md-9 mb-3">
            <label>Nombre de la vía</label>
            @Html.TextBoxFor(m => m.Cliente.DireccionPkNavigation.NombreVia, new { @class = "form-control", required = "required" })
        </div>
        <div class="col-md-3 mb-3">
            <label>Código Postal</label>
            @Html.TextBoxFor(m => m.Cliente.DireccionPkNavigation.CodigoPostal, new { @class = "form-control", data_inputmask = "'mask': '99999'" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn my-0" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn my-0" onclick="guardarCliente()">Guardar</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $(":input").inputmask();

        $.validator.addMethod("inputMaskComplete", function (value, element) {
            return $(element).inputmask("isComplete");
        }, "Campo incompleto.");

        $("#formCliente").validate({
            rules: {
                "Cliente.Nombre": {
                    required: true
                },
                "Cliente.DocIdentidad": {
                    required: true,
                    documentoValido: true
                },
                "Cliente.DireccionPkNavigation.NombreVia": {
                    required: true
                },
                "Cliente.Correo": {
                    email: true,
                },
                // "Cliente.Telefono": {
                //     inputMaskComplete: true
                // },
                // "Cliente.Movil": {
                //     inputMaskComplete: true
                // },
                // "Cliente.DireccionPkNavigation.CodigoPostal": {
                //     inputMaskComplete: true
                // }
            },
            messages: {
                "Cliente.Nombre": {
                    required: "El nombre es obligatorio"
                },
                "Cliente.DocIdentidad": {
                    required: "El doc identidad es obligatorio",
                    documentoValido: "El DNI/CIF no es válido."
                },
                "Cliente.DireccionPkNavigation.NombreVia": {
                    required: "La direccion es obligatoria"
                },
                "Cliente.Correo": {
                    email: "El correo no es válido"
                },
                // "Cliente.Telefono": {
                //     inputMaskComplete: "El telefono no es válido"
                // },
                // "Cliente.Movil": {
                //     inputMaskComplete: "El movil no es válido"
                // },
                // "Cliente.DireccionPkNavigation.CodigoPostal": {
                //     inputMaskComplete: "El codigo postal no es válido"
                // }
            }
        });
    });
</script>