@model VM_CreateUpdateUsuario

<form id="formUsuario">
    @Html.HiddenFor(m => m.Usuario.UsuarioPk)

    <div class="form-group mb-2">
        <label>Usuario</label>
        @Html.TextBoxFor(m => m.Usuario.Usuario1, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group mb-2">
        <label>Nombre</label>
        @Html.TextBoxFor(m => m.Usuario.Nombre, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group mb-2">
        <label>Apellidos</label>
        @Html.TextBoxFor(m => m.Usuario.Apellidos, new { @class = "form-control" })
    </div>

    <div class="form-group mb-2">
        <label>Contraseña</label>
        @Html.TextBoxFor(m => m.Usuario.Contrasena, new { @class = "form-control", type = "password" })
    </div>

    <div class="form-group mb-2">
        <label>Rol</label>
        @Html.DropDownListFor(m => m.Usuario.RolPk, new SelectList(Model.listRoles, "RolPk", "Rol"), "Seleccione un rol", new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group text-end">
        <button type="button" class="btn btn-primary" onclick="guardarUsuario()">Guardar</button>
    </div>
</form>

