@model VM_GestionUsuarios;

@foreach (var user in Model.listUsuarios)
{
    <div class="card card-custom" onclick="verDetallesUsuario(@user.UsuarioPk)" data-rol="@user.RolPk.Value">
        <div class="card-content">
            <div class="card-header card-header-obras">
                <span><strong>Usuario:</strong> @user.Usuario1</span>
                <div class="btn-obras-header">
                    <button type="button" class="btn mx-sm-1" onclick="cargarPartialEnModal('modalLg', '/Archivos/Galeria?entidad=Usuario&entidadPk=@user.UsuarioPk', 'modalLgBody')"> Ver Archivos </button>
                    <button class="btn btn-sm mx-sm-1" onclick="event.stopPropagation(); eliminarUsuario(@user.UsuarioPk)">Eliminar</button>
                    <button class="btn btn-sm mx-sm-1" onclick="event.stopPropagation(); cargarPartialEnModal('modalLg', '@($"/Usuarios/GetCreateEditUsuario?usuarioPk={user.UsuarioPk}")', 'modalLgBody')">Editar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <strong class="card-enunciados">Nombre:</strong>
                    <span class="card-encargos">@user.Nombre</span>
                </div>
                <div class="col-md-4">
                    <strong class="card-enunciados">Apellidos:</strong>
                    <span class="card-encargos">@user.Apellidos</span>
                </div>
                <div class="col-md-4">
                    <strong class="card-enunciados">Rol:</strong>
                    <span class="card-encargos">@user.RolPkNavigation.Rol</span>
                </div>
            </div>
        </div>
    </div>
}